<!DOCTYPE html>
<html>
	<head>
		<h1>Genes<h1>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
		</script>

	</head>
	<script type ="text/javascript">
	function showGenes(){



	
}
	</script>

<body bgcolor="#D8D8D8">

	Query By:
	<p><select>
  <option value="date">Year</option>
  <option value="location">Location</option>
  <option value="accession">Accession</option>
</select>

  <form>
Value: <input type="text" name="value"><br>
</form> 
<button type="button" value="submit">Submit</button>

</p>

{% for gene in fastas: %}
	<h5><code>{{gene}}</code></h5>
{% endfor %}
</body>

</html>