<!DOCTYPE html>
<html>
	<head>
		<h1>Genes<h1>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
		</script>

	</head>
	<script type ="text/javascript">
	function showGenes(){
}
	</script>

<body bgcolor="#D8D8D8">
<form name ="type" action="form" method="post">
	Query By:
	<p><select name="type">
  <option value="date">Year</option>
  <option value="location">Location</option>
  <option value="accession">Accession</option>
</select>

  
Value: <input type="text" name="value"><br>
<input type="submit" value="Query">
</form> 


</p>

{% for gene in fastas: %}
	<h5><code>{{gene}}</code></h5>
{% endfor %}
</body>

</html>